<div class="auth-wrapper">
  <div class="auth-content">
      <div class="auth-bg">
          <span class="r"></span>
          <span class="r s"></span>
          <span class="r s"></span>
          <span class="r"></span>
      </div>
      <form [formGroup] = "loginForm" (ngSubmit)="Login(User.value,Password.value)">
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-unlock auth-icon"></i>
                </div>
                <h3 class="mb-4">Tienda Digital</h3>              
                <div class="input-group mb-3">
                    <input type="text" #User   formControlName="user" [ngClass]="{'is-invalid': submitted && f.user.errors}" class="form-control"  placeholder="Cuenta...">
                    <div *ngIf="submitted && f.user.errors" class="invalid-feedback">
                          <div *ngIf="f.user.errors.required">*La Cuenta es Obligatoria</div>
                      </div>
                </div>
                <div class="input-group mb-3">
                  <show-hide-password  btnStyle="primary" [btnOutline]="false">
                      <input type="password" #Password  formControlName="password"  class="form-control"  placeholder="Contraseña...">
                  </show-hide-password>                  
                </div>             
                
                <button  class="btn btn-primary w-100" style="font-size: 16px;">Entrar <i class="fas fa-chevron-circle-right" style="float: right;font-size: 24px;"></i></button>

                <p class="mb-0 text-muted" style="margin-top: 10px;">¿No tiene cuenta?</p>
                <p class="mb-0 text-muted">Cree una cuenta haciendo click <button type="button"  data-target="#new_user" data-toggle="modal" class="btn btn-primary sing-in">aquí </button></p>
               
                <div class="mb-4" style="padding: 15px;">
                    <i class="fab fa-jsfiddle auth-icon" style="font-size: 96px;"></i>
                </div>    
                <p>© Todos los Derechos Reservados.</p>            
            </div>
        </div>
      </form>  
  </div>
</div>

<div id="new_user" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="card select-card">
                <div class="card-header">                       
                    <h5 style="font-size: 24px;"><i class="mdi mdi-account-plus"></i> Nueva Cuenta de Usuario</h5>             
                </div>
                <div class="card-body">
                    <form [formGroup]="newUserForm" (ngSubmit)="newUser()">  
                        <input id="username" style="display:none" type="text" name="username">
                        <input id="password" style="display:none" type="password" name="password">                        
                        <div class="row"> 
                            <div class="col-md-6 text-center">                                
                                <img src="../../../assets/images/default_user.png" id="user_photo" height="128px" width="128px" class="rounded-circle" alt="User-Profile-Image">
                            </div>
                                                     
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Nombre de la Cuenta:</h5>                                
                                    <div class="input-group mb-3">
                                        <input  class="form-control" autocomplete="off" formControlName="userNameNew" name="accountName" id="accountName" [ngClass]="{'is-invalid': newUserSubmitted && fnu.userNameNew.errors}" placeholder="Escriba el Nombre de Usuario...">
                                        <div *ngIf="newUserSubmitted && fnu.userNameNew.errors" class="invalid-feedback">
                                          <div *ngIf="fnu.userNameNew.errors.required">*El Nombre de la Cuenta es Obligatoria.</div>
                                        </div>                 
                                    </div>  
                                </div>
                            </div> 
                                                     
                        </div> 
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h5>Avatar:</h5>
                                    <div class="input-group mb-3">                                        
                                        <div class="custom-file">
                                            <input type="file" accept="image/*" formControlName="imageUser" #imgInput class="custom-file-input" (change)="getBase64(imgInput)" id="image_file"  name="validation-file">
                                            <label id="selectedAvatar" class="custom-file-label" for="image_file">Seleccionar Avatar</label>
                                        </div>
                                    </div>
                                    </div>
                             </div>
                        </div> 
                        <hr/>
                        <div class="row">                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Nombre:</h5>
                                    <div class="input-group mb-3">
                                        <input  class="form-control" autocomplete="off" formControlName="userFirstNameNew"  [ngClass]="{'is-invalid': newUserSubmitted && fnu.userFirstNameNew.errors}"  placeholder="Escriba su Nombre...">
                                        <div *ngIf="newUserSubmitted && fnu.userFirstNameNew.errors" class="invalid-feedback">
                                          <div *ngIf="fnu.userFirstNameNew.errors.required">*El Nombre es Obligatorio.</div>
                                        </div>                 
                                    </div>            
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <h5>Apellidos:</h5>
                                  <div class="input-group mb-3">
                                      <input  class="form-control" autocomplete="off" formControlName="lastNameNew"  [ngClass]="{'is-invalid': newUserSubmitted && fnu.lastNameNew.errors}" placeholder="Escriba sus Apellidos...">
                                      <div *ngIf="newUserSubmitted && fnu.lastNameNew.errors" class="invalid-feedback">
                                        <div *ngIf="fnu.lastNameNew.errors.required">*Los Apellidos son Obligatorios.</div>
                                      </div>                 
                                  </div>            
                              </div>
                          </div>
                        </div>      
                        <div class="row">                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Contraseña:</h5>
                                    <div class="input-group mb-3">
                                        <input id="new_password" autocomplete="off" formControlName="passwordNew" class="form-control" type="password" name="new_password" [ngClass]="{'is-invalid': newUserSubmitted && fnu.passwordNew.errors}" placeholder="Escriba una Contraseña..." />                                                                              
                                        <div *ngIf="newUserSubmitted && fnu.passwordNew.errors" class="invalid-feedback">
                                          <div *ngIf="fnu.passwordNew.errors.required">*La Contraseña es Obligatoria.</div>
                                        </div>                 
                                    </div>            
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <h5>Repita la Contraseña:</h5>
                                  <div class="input-group mb-3">
                                    <input id="password_repeat" autocomplete="off" formControlName="passwordRepeatNew" class="form-control" type="password" name="password_repeat" [ngClass]="{'is-invalid': newUserSubmitted && fnu.passwordRepeatNew.errors}" placeholder="Repita la Contraseña..." />
                                      <div *ngIf="newUserSubmitted && fnu.passwordRepeatNew.errors" class="invalid-feedback">
                                        <div *ngIf="fnu.passwordRepeatNew.errors.required">*Necesita Repetir la Contraseña.</div>
                                      </div>                 
                                  </div>            
                              </div>
                          </div>
                        </div>     
                    
                    <hr/>
                    <div class="row">                                
                        <div class="col-md-12">
                            <button style="float: right"  type="button" class="btn btn-secondary" data-dismiss="modal"><i class="mdi mdi-cancel" style="font-size: 18px"></i>Cancelar</button>
                            <button style="margin-right:10px;float: right"  class="btn btn-primary"><i class="mdi mdi-account-plus"  style="font-size: 18px"></i>Crear Cuenta</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

