.card
{
    margin-bottom: 0!important;        
}

.theme-bg4 {
    background: linear-gradient(-135deg, #fd0303 0%, #3f4d67 100%);
}

.sing-in{
    padding: 1px!important;
    padding-right: 5px!important;
    padding-left: 5px!important;
}