<div class="row">
  <div class="col-md-12 col-only">
      <div class="card select-card" style="padding: 10px;margin: 5px">
          <div class="row">
              <div class="col-md">
                  <input type="number" #UserIdFilter (change)="setfilterUserId(UserIdFilter.value)" placeholder="Filtrar por Id..." class="form-control"  >
              </div>
              <div class="col-md">
                <input type="text" #UserNameFilter (change)="setfilterUserNameFilter(UserNameFilter.value)" placeholder="Filtrar por Usuario..." class="form-control" >
              </div> 
              <div class="col-md">
                  <input type="text" #UserFirstNameFilter (change)="setfilterFirstName(UserFirstNameFilter.value)" placeholder="Filtrar por Nombre..." class="form-control" >
              </div>
              <div class="col-md">
                <input type="text" #UserLastNameFilter (change)="setfilterLastName(UserLastNameFilter.value)" placeholder="Filtrar por Apellido..." class="form-control" >
              </div>
              <div class="col-md">
                <button type="button" data-target="#new_user" data-toggle="modal" class="btn btn-primary"><i class="mdi mdi-account-plus"></i>Crear Cuenta</button>
              </div>              
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="table-responsive" style="margin-top: 5px;">
                      <table id="users_list" class="display table nowrap table-striped table-hover">
                          <thead>
                          <tr>
                              <th>Id</th>
                              <th>Avatar</th>
                              <th>Cuenta</th>   
                              <th>Nombre</th>
                              <th>Apellidos</th>                                                          
                              <th>Fecha de Creación</th>  
                              <th>Privilegios</th>  
                              <th>Estado</th>                                                       
                              <th>Operaciones</th>
                          </tr>
                          </thead>
                          <tbody>
                                  <tr  *ngFor="let item of users | paginate: { itemsPerPage: maxPerPage, currentPage: page, totalItems: total }" >                                          
                                          <td> {{item.id}}</td>
                                          <td> <img src='{{item.avatar}}' class='rounded-circle' height=32px width=32px/></td>
                                          <td>{{item.username}}</td>
                                          <td>{{item.firstName}}</td>
                                          <td>{{item.lastName}}</td>                                         
                                          <td><i class="mdi mdi-calendar-check"> </i> {{item.createdAtFormatted}}</td>          
                                          <td *ngIf="item.profile=='Client'"> <i class="fas fa-user"> </i> Cliente</td>   
                                          <td *ngIf="item.profile=='Admin'"> <i class="fas fa-user-shield"> </i> Administrador</td>  
                                          <td *ngIf="item.profile=='Operator'"> <i class="fas fa-user-tie"> </i> Operador</td>   
                                          <td *ngIf="item.status==0"> <i class="fas fa-user-check"> </i> Activa</td>   
                                          <td *ngIf="item.status==1"> <i class="fas fa-user-slash"> </i> Desactivada</td>                                  
                                          <td style="width: 200px">
                                              <button type="button" style="margin-right: 5px;padding: 8px;text-align: left;" data-target="#edit_user" data-toggle="modal" (click)="select(item);" class="btn btn-warning"><i class="mdi mdi-account-edit"></i>Edit</button>
                                              <button *ngIf="item.status==0" type="button" style="margin-right: 5px;padding: 8px;width: 115px;text-align: left;" data-toggle="modal" data-target="#del_user"  (click)="changeStatus(item)" class="btn btn-danger"><i class="mdi mdi-account-off"></i>Desactivar</button>
                                              <button *ngIf="item.status==1" type="button" style="margin-right: 5px;padding: 8px;width: 115px;text-align: left;"   (click)="changeStatus(item)" class="btn btn-success"><i class="mdi mdi-account-check"></i>Activar</button>
                                          </td>                                         
                                  </tr>
                          </tbody>                            
                      </table>
                      <pagination-controls  (pageChange)="page = $event;getUsersTable();"></pagination-controls>
                  </div>
              </div>
          </div>            
      </div>
  </div>
</div>

<div id="edit_user" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="card select-card">
                <div class="card-header">                       
                    <h5 style="font-size: 24px;"><i class="mdi mdi-account-edit"></i> Editar Cuenta de Usuario</h5>             
                </div>
                <div class="card-body">
                    <form [formGroup]="editUserForm" (ngSubmit)="editUser()">  
                        <input id="usernameEdit" style="display:none" type="text" name="usernameEdit">
                        <input id="passwordEdit" style="display:none" type="password" name="passwordEdit">                        
                        <div class="row"> 
                            <div class="col-md-6 text-center">                                
                                <img src="../../../assets/images/default_user.png" id="photoEdit" height="128px" width="128px" class="rounded-circle" alt="User-Profile-Image">
                            </div>               
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Nombre de la Cuenta:</h5>                                
                                    <div class="input-group mb-3">
                                        <input  class="form-control" autocomplete="off" disabled formControlName="userNameEdit">
                                    </div>  
                                </div>
                            </div> 
                                                     
                        </div> 
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h5>Avatar:</h5>
                                    <div class="input-group mb-3">                                        
                                        <div class="custom-file">
                                            <input type="file" accept="image/*" formControlName="imageUserEdit" #imgEdit class="custom-file-input" (change)="getBase64Edit(imgEdit)" id="image_fileEdit"  name="validation-file">
                                            <label id="selectedAvatarEdit" class="custom-file-label" for="image_fileEdit">Seleccionar Avatar</label>
                                        </div>
                                    </div>
                                    </div>
                             </div>
                        </div> 
                        <hr/>
                        <div class="row">                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Nombre:</h5>
                                    <div class="input-group mb-3">
                                        <input  class="form-control" autocomplete="off" formControlName="userFirstNameEdit"  [ngClass]="{'is-invalid': editUserSubmitted && feu.userFirstNameEdit.errors}"  placeholder="Escriba su Nombre...">
                                        <div *ngIf="editUserSubmitted && feu.userFirstNameEdit.errors" class="invalid-feedback">
                                          <div *ngIf="feu.userFirstNameEdit.errors.required">*El Nombre es Obligatorio.</div>
                                        </div>                 
                                    </div>            
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <h5>Apellidos:</h5>
                                  <div class="input-group mb-3">
                                      <input  class="form-control" autocomplete="off" formControlName="lastNameEdit"  [ngClass]="{'is-invalid': editUserSubmitted && feu.lastNameEdit.errors}" placeholder="Escriba sus Apellidos...">
                                      <div *ngIf="editUserSubmitted && feu.lastNameEdit.errors" class="invalid-feedback">
                                        <div *ngIf="feu.lastNameEdit.errors.required">*Los Apellidos son Obligatorios.</div>
                                      </div>                 
                                  </div>            
                              </div>
                          </div>
                        </div>  
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h5>Rol:</h5>
                                    <div class="input-group mb-3">
                                        <select class="form-control" formControlName="rolEdit" [ngClass]="{'is-invalid': editUserSubmitted && feu.rolEdit.errors}" placeholder="Seleccione el Rol...">
                                            <option value="Client">Cliente</option>
                                            <option value="Operator">Operador</option>
                                            <option value="Admin">Administrador</option>
                                        </select>    
                                        <div *ngIf="editUserSubmitted && feu.rolEdit.errors" class="invalid-feedback">
                                            <div *ngIf="feu.rolEdit.errors.required">*El Rol es obligatorio.</div>
                                          </div>             
                                    </div>            
                                </div>
                            </div>
                        </div>
                            
                        <div class="row">                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Contraseña:</h5>
                                    <div class="input-group mb-3">
                                        <input  autocomplete="off" formControlName="passwordEdit" class="form-control" type="password"  [ngClass]="{'is-invalid': editUserSubmitted && feu.passwordEdit.errors}" placeholder="Escriba una Contraseña..." />                                                                              
                                        <div *ngIf="editUserSubmitted && feu.passwordEdit.errors" class="invalid-feedback">
                                          <div *ngIf="feu.passwordEdit.errors.required">*La Contraseña es Obligatoria.</div>
                                        </div>                 
                                    </div>            
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <h5>Repita la Contraseña:</h5>
                                  <div class="input-group mb-3">
                                    <input  autocomplete="off" formControlName="passwordRepeatEdit" class="form-control" type="password" [ngClass]="{'is-invalid': editUserSubmitted && feu.passwordRepeatEdit.errors}" placeholder="Repita la Contraseña..." />
                                      <div *ngIf="editUserSubmitted && feu.passwordRepeatEdit.errors" class="invalid-feedback">
                                        <div *ngIf="feu.passwordRepeatEdit.errors.required">*Necesita Repetir la Contraseña.</div>
                                      </div>                 
                                  </div>            
                              </div>
                          </div>
                        </div>                         
                    <hr/>
                    <div class="row">                                
                        <div class="col-md-12">
                            <button style="float: right"  type="button" class="btn btn-secondary" data-dismiss="modal"><i class="mdi mdi-cancel" style="font-size: 18px"></i>Cancelar</button>
                            <button style="margin-right:10px;float: right"  class="btn btn-primary"><i class="mdi mdi-account-edit"  style="font-size: 18px"></i>Editar Cuenta</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="new_user" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="card select-card">
                <div class="card-header">                       
                    <h5 style="font-size: 24px;"><i class="mdi mdi-account-plus"></i> Nueva Cuenta de Usuario</h5>             
                </div>
                <div class="card-body">
                    <form [formGroup]="newUserForm" (ngSubmit)="newUser()">  
                        <input id="username" style="display:none" type="text" name="username">
                        <input id="password" style="display:none" type="password" name="password">                        
                        <div class="row"> 
                            <div class="col-md-6 text-center">                                
                                <img src="../../../assets/images/default_user.png" id="photo" height="128px" width="128px" class="rounded-circle" alt="User-Profile-Image">
                            </div>
                                                     
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Nombre de la Cuenta:</h5>                                
                                    <div class="input-group mb-3">
                                        <input  class="form-control" autocomplete="off" formControlName="userNameNew" name="accountName" id="accountName" [ngClass]="{'is-invalid': newUserSubmitted && fnu.userNameNew.errors}" placeholder="Escriba el Nombre de Usuario...">
                                        <div *ngIf="newUserSubmitted && fnu.userNameNew.errors" class="invalid-feedback">
                                          <div *ngIf="fnu.userNameNew.errors.required">*El Nombre de la Cuenta es Obligatoria.</div>
                                        </div>                 
                                    </div>  
                                </div>
                            </div> 
                                                     
                        </div> 
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h5>Avatar:</h5>
                                    <div class="input-group mb-3">                                        
                                        <div class="custom-file">
                                            <input type="file" accept="image/*" formControlName="imageUser" #imgInput class="custom-file-input" (change)="getBase64(imgInput)" id="image_file"  name="validation-file">
                                            <label id="selectedAvatar" class="custom-file-label" for="image_file">Seleccionar Avatar</label>
                                        </div>
                                    </div>
                                    </div>
                             </div>
                        </div> 
                        <hr/>
                        <div class="row">                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Nombre:</h5>
                                    <div class="input-group mb-3">
                                        <input  class="form-control" autocomplete="off" formControlName="userFirstNameNew"  [ngClass]="{'is-invalid': newUserSubmitted && fnu.userFirstNameNew.errors}"  placeholder="Escriba su Nombre...">
                                        <div *ngIf="newUserSubmitted && fnu.userFirstNameNew.errors" class="invalid-feedback">
                                          <div *ngIf="fnu.userFirstNameNew.errors.required">*El Nombre es Obligatorio.</div>
                                        </div>                 
                                    </div>            
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <h5>Apellidos:</h5>
                                  <div class="input-group mb-3">
                                      <input  class="form-control" autocomplete="off" formControlName="lastNameNew"  [ngClass]="{'is-invalid': newUserSubmitted && fnu.lastNameNew.errors}" placeholder="Escriba sus Apellidos...">
                                      <div *ngIf="newUserSubmitted && fnu.lastNameNew.errors" class="invalid-feedback">
                                        <div *ngIf="fnu.lastNameNew.errors.required">*Los Apellidos son Obligatorios.</div>
                                      </div>                 
                                  </div>            
                              </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h5>Rol:</h5>
                                    <div class="input-group mb-3">
                                        <select class="form-control" formControlName="rolNew" [ngClass]="{'is-invalid': newUserSubmitted && fnu.rolNew.errors}" placeholder="Seleccione el Rol...">
                                            <option value="Client">Cliente</option>
                                            <option value="Operator">Operador</option>
                                            <option value="Admin">Administrador</option>
                                        </select>    
                                        <div *ngIf="newUserSubmitted && fnu.rolNew.errors" class="invalid-feedback">
                                            <div *ngIf="fnu.rolNew.errors.required">*El Rol es obligatorio.</div>
                                          </div>             
                                    </div>            
                                </div>
                            </div>
                        </div>      
                        <div class="row">                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Contraseña:</h5>
                                    <div class="input-group mb-3">
                                        <input id="new_password" autocomplete="off" formControlName="passwordNew" class="form-control" type="password" name="new_password" [ngClass]="{'is-invalid': newUserSubmitted && fnu.passwordNew.errors}" placeholder="Escriba una Contraseña..." />                                                                              
                                        <div *ngIf="newUserSubmitted && fnu.passwordNew.errors" class="invalid-feedback">
                                          <div *ngIf="fnu.passwordNew.errors.required">*La Contraseña es Obligatoria.</div>
                                        </div>                 
                                    </div>            
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <h5>Repita la Contraseña:</h5>
                                  <div class="input-group mb-3">
                                    <input id="password_repeat" autocomplete="off" formControlName="passwordRepeatNew" class="form-control" type="password" name="password_repeat" [ngClass]="{'is-invalid': newUserSubmitted && fnu.passwordRepeatNew.errors}" placeholder="Repita la Contraseña..." />
                                      <div *ngIf="newUserSubmitted && fnu.passwordRepeatNew.errors" class="invalid-feedback">
                                        <div *ngIf="fnu.passwordRepeatNew.errors.required">*Necesita Repetir la Contraseña.</div>
                                      </div>                 
                                  </div>            
                              </div>
                          </div>
                        </div>     
                    
                    <hr/>
                    <div class="row">                                
                        <div class="col-md-12">
                            <button style="float: right"  type="button" class="btn btn-secondary" data-dismiss="modal"><i class="mdi mdi-cancel" style="font-size: 18px"></i>Cancelar</button>
                            <button style="margin-right:10px;float: right"  class="btn btn-primary"><i class="mdi mdi-account-plus"  style="font-size: 18px"></i>Crear Cuenta</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  

 
