<div class="row">
    <div class="col-md-12 col-only">
        <div class="card select-card" style="padding: 10px;margin: 5px">
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <p><b>Filtrar por Id:</b></p>
                        <div>
                            <input type="number" #IdFilter (change)="setIdFilter(IdFilter.value)"
                                placeholder="Filtrar por Id..." class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <p><b>Filtrar por Usuario:</b></p>
                        <div>
                            <input type="text" #UserFilter (change)="setUserFilter(UserFilter.value)"
                                placeholder="Filtrar por Usuario..." class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <p><b>Título del Log:</b></p>
                        <div>
                            <input type="text" #TitleFilter (change)="setTitleFilter(TitleFilter.value)"
                                placeholder="Filtrar por Título..." class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <p><b>Mensage del Log:</b></p>
                        <div>
                            <input type="text" #MsgFilter (change)="setMsgFilter(MsgFilter.value)"
                                placeholder="Filtrar por Descripción..." class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <p><b>Tipo de Log:</b></p>
                        <div>
                            <select class="form-control" #TypeFilter (change)="setTypeFilter(TypeFilter.value)"
                                placeholder="Filtrar por Tipo...">
                                <option value="-1">All</option>
                                <option value="0">Información</option>
                                <option value="1">Error</option>
                                <option value="2">Operación Satisfactoria</option>
                                <option value="3">Alerta</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <p><b>Filtrar Desde:</b></p>
                        <div>
                            <div class="input-group mb-3">
                                <input class="form-control" #StartDate (dateTimeChange)="setFilterFrom(StartDate)"
                                    [owlDateTime]="dt_start" [owlDateTimeTrigger]="dt_start"
                                    placeholder="Desde la Fecha...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" style="padding: 5px;"
                                        [owlDateTimeTrigger]="dt_start" type="button"><i class="fas fa-calendar-alt"
                                            style="font-size: 18px;margin: 0;"></i></button>
                                </div>
                            </div>
                            <owl-date-time #dt_start></owl-date-time>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <p><b>Filtrar Hasta:</b></p>
                        <div>
                            <div class="input-group mb-3">
                                <input class="form-control" #EndDate (dateTimeChange)="setFilterTo(EndDate)"
                                    [owlDateTime]="dt_end" [owlDateTimeTrigger]="dt_end"
                                    placeholder="Hasta la Fecha...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" style="padding: 5px;" [owlDateTimeTrigger]="dt_end"
                                        type="button"><i class="fas fa-calendar-alt"
                                            style="font-size: 18px;margin: 0;"></i></button>
                                </div>
                            </div>
                            <owl-date-time #dt_end></owl-date-time>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" style="margin-top: 5px;">
                        <table id="item_list" class="display table nowrap table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Id</th>
                                    <th>Usuario</th>
                                    <th>Título</th>
                                    <th>Descripción</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr [ngClass]="{'table-info':item.type==0,'table-danger':item.type==1,'table-success':item.type==2,'table-warning':item.type==3}"
                                    *ngFor="let item of list | paginate: {id:'logsPag', itemsPerPage: maxPerPage, currentPage: page, totalItems: total }">
                                    <td *ngIf="item.type==0"> <i class="feather icon-alert-circle"> </i> Información
                                    </td>
                                    <td *ngIf="item.type==1"> <i class="feather icon-x-circle"> </i> Error</td>
                                    <td *ngIf="item.type==2"> <i class="feather icon-check-circle"> </i> Operación
                                        Satisfactoria</td>
                                    <td *ngIf="item.type==3"> <i class="feather icon-alert-triangle"> </i> Alerta</td>
                                    <td>{{item.id}}</td>
                                    <td>{{item.user}}</td>
                                    <td>{{item.title}}</td>
                                    <td>{{item.msg}}</td>
                                    <td> <i class="mdi mdi-calendar-check"> </i> {{item.createdAtFormatted}}</td>

                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls id="logsPag" (pageChange)="page = $event;getTable();"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>