<div class="row">
  <div class="col-md-12 col-only">
    <div class="card select-card" style="padding: 10px;margin: 5px">
      <div class="row">
        <div class="col-md">
          <div class="form-group">
            <p><b>Filtrar por Nombre:</b></p>
            <div>
              <input type="text" #NameFilter (change)="setNameFilter(NameFilter.value)"
                placeholder="Filtrar por Nombre del Héroe..." class="form-control">
            </div>
          </div>
        </div>
        
        <div class="col-md">
          <div class="form-group">
            <p><b>Opciones:</b></p>
            <div>
              <button type="button" data-target="#new_hero" data-toggle="modal" class="btn btn-primary"><i class="feather icon-plus-square"></i> Adicionar Héroe</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h5 class="mt-4">Héroes</h5>
          <hr>
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active show strength-active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"> <img src="../../../assets/images/fuerza.png"  height="16px" width="16px" class="rounded-circle" alt="User-Profile-Image"> Fuerza ({{totalStrength}})</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link agility-active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> <img src="../../../assets/images/agilidad.png" height="16px" width="16px" class="rounded-circle" alt="User-Profile-Image"> Agilidad ({{totalAgility}})</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link intelligence-active" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"> <img src="../../../assets/images/inteligencia.png" height="16px" width="16px" class="rounded-circle" alt="User-Profile-Image"> Inteligencia ({{totalIntelligence}})</a>
              </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row text-center" *ngIf="loadingS">
                  <div class="col-md">
                    <circle-progress  [percent]="pS" [radius]="50" [outerStrokeWidth]="4" [innerStrokeWidth]="2" [outerStrokeColor]="'#c00000'" [innerStrokeColor]="'#a50e0e'" [animation]="true" [animationDuration]="300"></circle-progress>
                  </div>
                </div>
                <div class="row">
                  <div *ngFor="let item of listStrength" class="col-md-auto">
                    <div class="card-hero strength" (click)="selectHero(item);" data-target="#menu_hero" data-toggle="modal">
                      <video src="{{item.photo}}" onmouseover="this.play()" onmouseout="this.pause();" loop  class="img-fluid" alt="Cargando..."></video>
                      <p class="text-center text-truncate">{{item.name}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="row text-center" *ngIf="loadingA">
                  <div class="col-md">
                    <circle-progress   [percent]="pA" [radius]="50" [outerStrokeWidth]="4" [innerStrokeWidth]="2" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>        
                  </div>
                </div>
                <div class="row">
                  <div *ngFor="let item of listAgility" class="col-md-auto">
                    <div class="card-hero agility" (click)="selectHero(item);" data-target="#menu_hero" data-toggle="modal">
                      <video src="{{item.photo}}" onmouseover="this.play()" onmouseout="this.pause();" loop  class="img-fluid" alt="Cargando..."></video>
                      <p class="text-center text-truncate">{{item.name}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="row text-center" *ngIf="loadingI">
                  <div class="col-md">                                       
                    <circle-progress   [percent]="pI" [radius]="50" [outerStrokeWidth]="4" [innerStrokeWidth]="2" [outerStrokeColor]="'#1660d8'" [innerStrokeColor]="'#0e48a5'" [animation]="true" [animationDuration]="300"></circle-progress>                    
                  </div>
                </div>
                <div class="row">
                  <div *ngFor="let item of listIntelligence" class="col-md-auto">
                    <div class="card-hero intelligence" (click)="selectHero(item);" data-target="#menu_hero" data-toggle="modal">
                      <video src="{{item.photo}}" onmouseover="this.play()" onmouseout="this.pause();" loop  class="img-fluid" alt="Cargando..."></video>
                      <p class="text-center text-truncate">{{item.name}}</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div id="new_hero" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="card select-card">
              <div class="card-header">                       
                  <h5 style="font-size: 24px;"><i class="feather icon-plus-circle"></i> Nuevo Héroe</h5>             
              </div>
              <div class="card-body">
                  <form [formGroup]="newHeroForm" (ngSubmit)="newHero()">  
                    <div class="row">
                      <div class="col-md-6 text-center">                                
                        <video src="../../../assets/images/pods_bg.webm" autoplay loop id="photo" height="128px" width="128px" class="rounded-circle" alt="User-Profile-Image">
                        </video>
                      </div> 
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5>Imagen:</h5>
                                <div class="input-group mb-3">                                        
                                    <div class="custom-file">
                                        <input type="file" accept="video/webm" formControlName="imageHero" #imgInput class="custom-file-input" (change)="getBase64(imgInput)" id="image_file"  name="validation-file">
                                        <label id="selectedHero" class="custom-file-label" for="image_file">Seleccionar Imagen del Héroe</label>
                                    </div>
                                </div>
                                </div>
                         </div>
                    </div>                                
                      <div class="row">                                   
                          <div class="col-md-6">
                              <div class="form-group">
                                  <h5>Nombre del Héroe:</h5>                                
                                  <div class="input-group mb-3">
                                      <input  class="form-control" formControlName="Name" [ngClass]="{'is-invalid': newHeroSubmitted && fnh.Name.errors}" placeholder="Escriba el Nombre del Héroe...">
                                      <div *ngIf="newHeroSubmitted && fnh.Name.errors" class="invalid-feedback">
                                        <div *ngIf="fnh.Name.errors.required">*El Nombre del Héroe es Obligatorio.</div>
                                      </div>                 
                                  </div>  
                              </div>
                          </div> 
                          <div class="col-md-6">
                            <div class="form-group">
                                <h5>Tipo de Héroe:</h5>
                                <div class="input-group mb-3">
                                    <select class="form-control" formControlName="Type" [ngClass]="{'is-invalid': newHeroSubmitted && fnh.Type.errors}" placeholder="Seleccione el Atributo Primario...">
                                        <option value="0">Fuerza</option>
                                        <option value="1">Agilidad</option>
                                        <option value="2">Inteligencia</option>
                                    </select>    
                                    <div *ngIf="newHeroSubmitted && fnh.Type.errors" class="invalid-feedback">
                                        <div *ngIf="fnh.Type.errors.required">*El Tipo de Atributo es obligatorio.</div>
                                      </div>             
                                </div>            
                            </div>
                        </div>                                                   
                      </div> 
                     
                  <hr/>
                  <div class="row">                                
                      <div class="col-md-12">
                          <button style="float: right"  type="button" class="btn btn-secondary" data-dismiss="modal"><i class="feather icon-x-circle"></i>Cancelar</button>
                          <button style="margin-right:10px;float: right"  class="btn btn-primary"><i class="feather icon-plus-circle"></i>Crear Héroe</button>
                      </div>
                  </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<div id="menu_hero" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="card select-card">
              <div class="card-header">                       
                  <h5 style="font-size: 24px;"><i class="feather icon-pocket"></i> Opciones del Héroe</h5>             
              </div>
              <div class="card-body">
                  <form [formGroup]="editHeroForm" (ngSubmit)="editHero()">  
                    <div class="row">
                      <div class="col-md-6 text-center">                                
                        <video src="{{selected.photo}}" autoplay loop id="photoEdit" height="128px" width="128px" class="rounded-circle" alt="User-Profile-Image">
                        </video>
                      </div> 
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5>Imagen:</h5>
                                <div class="input-group mb-3">                                        
                                    <div class="custom-file">
                                        <input type="file" accept="video/webm" formControlName="imageHero" #imgInputEdit class="custom-file-input" (change)="getBase64Edit(imgInputEdit)" id="image_file_edit"  name="validation-file">
                                        <label id="selectedHeroEdit" class="custom-file-label" for="image_file_edit">Seleccionar Imagen del Héroe</label>
                                    </div>
                                </div>
                                </div>
                         </div>
                    </div>                                
                      <div class="row">                                   
                          <div class="col-md-6">
                              <div class="form-group">
                                  <h5>Nombre del Héroe:</h5>                                
                                  <div class="input-group mb-3">
                                      <input  class="form-control" formControlName="Name" [ngClass]="{'is-invalid': editHeroSubmitted && feh.Name.errors}" placeholder="Escriba el Nombre del Héroe...">
                                      <div *ngIf="editHeroSubmitted && feh.Name.errors" class="invalid-feedback">
                                        <div *ngIf="feh.Name.errors.required">*El Nombre del Héroe es Obligatorio.</div>
                                      </div>                 
                                  </div>  
                              </div>
                          </div> 
                          <div class="col-md-6">
                            <div class="form-group">
                                <h5>Tipo de Héroe:</h5>
                                <div class="input-group mb-3">
                                    <select class="form-control" formControlName="Type" [ngClass]="{'is-invalid': editHeroSubmitted && feh.Type.errors}" placeholder="Seleccione el Atributo Primario...">
                                        <option value="0">Fuerza</option>
                                        <option value="1">Agilidad</option>
                                        <option value="2">Inteligencia</option>
                                    </select>    
                                    <div *ngIf="editHeroSubmitted && feh.Type.errors" class="invalid-feedback">
                                        <div *ngIf="feh.Type.errors.required">*El Tipo de Atributo es obligatorio.</div>
                                      </div>             
                                </div>            
                            </div>
                        </div>                                                   
                      </div> 
                     
                  <hr/>
                  <div class="row">                                
                      <div class="col-md-12">
                          <button style="float: right"  type="button" class="btn btn-secondary" data-dismiss="modal"><i class="feather icon-x-circle"></i>Cerrar</button>
                          <button style="margin-right:10px;float: right"  class="btn btn-primary"><i class="feather icon-plus-circle"></i>Editar Héroe</button>
                          <button style="margin-right:10px;float: right" (click)="delPreview()" data-dismiss="modal"  class="btn btn-danger"><i class="feather icon-trash-2"></i>Eliminar Héroe</button>
                      </div>
                  </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<div id="del_hero" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="card select-card">
              <div class="card-header">                       
                  <h5 style="font-size: 24px;"><i class="feather icon-trash-2"></i> Eliminar Héroe</h5>             
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12"><p>Seguro que desea Eliminar(Proceso Irreversible) el Héroe Seleccionado? </p></div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <video src="{{selected.photo}}" autoplay loop height="128px" width="128px" class="rounded-circle" alt="User-Profile-Image">
                    </video>
                  </div>
                  <div class="col-md-6 text-center">
                    <h4>{{selected.name}}</h4>
                  </div>
                </div>
              <hr/>
                <div class="row">                                
                  <div class="col-md-12">
                      <button style="float: right"  type="button" class="btn btn-secondary" data-dismiss="modal"><i class="feather icon-x-circle"></i>Cancelar</button>                          
                      <button style="margin-right:10px;float: right" (click)="deleteHero()" class="btn btn-danger"><i class="feather icon-trash-2"></i>Eliminar Héroe</button>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>
</div>