.card-hero > video{    
    width: 80px;    
}

.card-hero{
    width: 80px;    
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow: 3px 3px 12px 1px black
}

.card-hero:hover{
    transform: scale(1.1);
    transition: .5s;
}

.card-hero > p {
    color: white;
    font-size: 10px;
    margin: 2px;
}

.nav-pills .nav-link.active.strength-active{
    background: rgba(121,9,41,1)!important;
}

.nav-pills .nav-link.active.agility-active{
    background: rgba(9,121,44,1);
}

.nav-pills .nav-link.active.intelligence-active{
    background: rgba(9,9,121,1);
}

.col-md-auto{
    margin-left: 15px!important;
    margin-right: 5px!important;
    padding-left: 0!important;
    padding-right: 0!important;
}

.strength{
    background: rgb(36,0,10);
    background: linear-gradient(90deg, rgba(36,0,10,1) 0%, rgba(121,9,41,1) 35%, rgba(0,0,0,1) 100%);
}
.agility{
    background: rgb(36,0,10);
    background: linear-gradient(90deg, rgba(36,0,10,1) 0%, rgba(9,121,44,1) 35%, rgba(0,0,0,1) 100%);
}

.intelligence{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,0,0,1) 100%);
}

