<div class="row">
    <div class="col-md-6">
        <h4>{{'ANALYTICS.LAST_VISITS_HEAD' | translate }}</h4>
        <div class="flex">
                    <div class="flex-item">
                      <div style="display: block;">
                      <canvas baseChart width="600" height="250"
                                  [datasets]="lineChartData"
                                  [labels]="lineChartLabels"
                                  [options]="lineChartOptions"
                                  [colors]="lineChartColors"
                                  [legend]="lineChartLegend"
                                  [chartType]="lineChartType"
                                  [plugins]="lineChartPlugins"
                                  >
                      </canvas>
                      </div>
                    </div>    
        </div>
    </div>
    <div class="col-md-6">
            <h4>{{'ANALYTICS.TIME_OF_LAST_VISITS' | translate }}</h4>
        <div class="flex">
                    <div class="flex-item">
                      <div style="display: block;">
                      <canvas baseChart width="600" height="250"
                                  [datasets]="timeChartData"
                                  [labels]="timeChartLabels"
                                  [options]="lineChartOptions"
                                  [colors]="lineChartColors"
                                  [legend]="lineChartLegend"
                                  [chartType]="lineChartType"
                                  [plugins]="lineChartPlugins"
                                  >
                      </canvas>
                      </div>
                    </div>  
                </div> 
    </div>
</div>

<div class="row">
        <div class="col-md-6">     
                <h4>{{'ANALYTICS.LAST_VISITS_PERCENT' | translate }}</h4>           
                <div class="chart">
                        <canvas baseChart
                          [data]="pieChartData"
                          [labels]="pieChartLabels"
                          [chartType]="pieChartType"
                          [options]="pieChartOptions"
                          [plugins]="pieChartPlugins"
                          [colors]="pieChartColors"
                          [legend]="pieChartLegend">
                        </canvas>
            </div>
        </div>
        <div class="col-md-6">
                <h4>{{'ANALYTICS.LAST_VISITS_DETAILS' | translate }}</h4>
                <div class="flex">
                            <div class="flex-item">
                              <div style="display: block;">
                                <canvas baseChart width="600" height="320"
                                    [datasets]="barChartData"
                                    [labels]="barChartLabels"
                                    [colors]="barChartColors"
                                    [options]="barChartOptions"                               
                                    [legend]="barChartLegend"
                                    [chartType]="barChartType">
                                  </canvas>
                              </div>
                            </div>    
                </div>
        </div>
</div>


