.ui-pnotify {
    border-radius: 4px;
}

.ui-pnotify-title {
    font-size: 16px;
}

.ui-pnotify-text {
    font-size: 14px;
}

.ui-pnotify-icon .icofont {
    font-size: 20px;
    margin-right: 10px;
    line-height: 1;
}

.ui-pnotify-container {
    padding: 18px;
}

.ui-pnotify-title {
    margin-bottom: 10px;
    line-height: 1.3;
}

.ui-pnotify-text .alert-link {
    font-size: 14px;
}

.ui-pnotify.stack-bottom-left,
.ui-pnotify.stack-top-left {
    left: 20px;
    right: auto
}

.ui-pnotify.stack-bottom-left,
.ui-pnotify.stack-bottom-right {
    bottom: 20px;
    top: auto
}

.ui-pnotify.stack-modal {
    left: 50%;
    right: auto;
    margin-left: -150px
}

.ui-pnotify.stack-custom-right {
    top: auto;
    left: auto;
    bottom: 200px;
    right: 200px
}

.ui-pnotify.stack-custom-left {
    top: 200px;
    left: 200px;
    right: auto;
    bottom: auto
}

.ui-pnotify.stack-custom-top {
    right: 0;
    left: 0;
    top: 0
}

.ui-pnotify.stack-custom-bottom {
    right: 0;
    left: 0;
    bottom: 0;
    top: auto
}

.btn i.icofont-play-alt-2 {
    margin-left: 3px;
}
