<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link text-uppercase active show" id="general-tab" data-toggle="tab" href="#general"
                    role="tab" aria-controls="general" aria-selected="true">{{ 'SETTINGS.GENERAL' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" id="visitortype-tab" data-toggle="tab" href="#visitortype" role="tab"
                    aria-controls="visitortype" aria-selected="true">OTHERS</a>
            </li>
            
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active show" id="general" role="tabpanel" aria-labelledby="general-tab">
                <form [formGroup]="changeLangForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <p><b>{{ 'SETTINGS.LANGUAGE' | translate }}</b></p>
                                <div class="input-group" style="background-color: white;margin-bottom: 5px;">
                                    <ng-select id="changeLanguage" formControlName="language" style="width: 35%;" #Language
                                        [searchable]="false" [clearable]="false">
                                        <ng-template ng-label-tmp let-item="item" let-label="label">
                                            <img src="../../../assets/images/{{item}}.svg" width="20px" height="20px" />
                                            {{label}}
                                        </ng-template>
                                        <ng-option value="en">English</ng-option>
                                        <ng-option value="es">Español</ng-option>
                                        <ng-option value="fr">Français</ng-option>
                                    </ng-select>
                                    <div class="input-group-append" style="width: 200px">
                                        <button (click)="changeLanguage()" class="btn btn-primary"
                                            style="width: 100%;margin:0;" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false"><i
                                                class="mdi mdi-check"></i>{{ 'SETTINGS.CHANGE_LANGUAGE' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="visitortype" role="tabpanel" aria-labelledby="general-tab">
                
            </div>           
        </div>
    </div>
</div>


