#visitorTypeList > tbody > tr > td {
    padding: 2px!important;
    vertical-align: middle!important;
}

#locationsList > tbody > tr > td {
    padding: 2px!important;
    vertical-align: middle!important;
}