<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>Tabla de Posiciones</h5>
                <span class="d-block m-t-5" >El Ranking de cada usuario se define por <code style="background: rgb(194, 191, 191);color: white;padding: 5px;">Pocición = Puntuación x Porciento de Efectividad</code> Ejemplo si tienes 1000 puntos y un 40% de las partidas ganadas tu valor de ranking es 400.</span>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Ranking</th>
                                <th>Usuario</th>
                                <th>Puntos</th>
                                <th>Patidas Jugadas</th>
                                <th>Patidas Ganadas</th>
                                <th>Patidas Perdidas</th>
                                <th>Porciento de Efectividad</th>
                                <th>Héroe más Ganador</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of userTable ; let i = index; let last = last">
                                <td style="color: green;"><i *ngIf="i==0"  class="mdi mdi-trophy" style="color: gold;font-size: 21px;"></i> <i *ngIf="i==1"  class="mdi mdi-trophy" style="color: silver;font-size: 21px;"></i> <i *ngIf="i==2"  class="mdi mdi-trophy" style="color: brown;font-size: 21px;"></i> <i *ngIf="i==(userTable.length-1)"  class="mdi mdi-emoticon-poop" style="color: brown;font-size: 32px;"></i> <i class="mdi mdi-star" style="color: gold;"></i> {{item.posScore}}</td>
                                <td><img class="rounded-circle" src="{{item.avatar}}" height="32px" width="32px" style="display: inline;" />
                                {{item.username}}</td>
                                <td *ngIf="item.score>=0" style="color: rgb(44, 163, 44);"><i class="mdi mdi-account-star"></i> {{item.score}}</td>
                                <td *ngIf="item.score<0" style="color: rgb(163, 44, 44);"><i class="mdi mdi-account-star"></i> {{item.score}}</td>
                                <td>{{item.matchs_played}}</td>
                                <td>{{item.matchs_wins}}</td>
                                <td>{{item.matchs_louses}}</td>
                                <td style="color: rgb(44, 163, 44);"><i class="mdi mdi-ticket-percent"></i> {{item.percent}} %</td>
                                <td>(Muy Pronto)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Total Partidas Ganadas por los Jugadores</h5>
            </div>
            <div class="card-block text-center">
                <img *ngIf="loadingPlayersWins" src="../../../assets/images/loading_2.gif" class="img-responsive w-100" />
                <div class="chart" *ngIf="!loadingPlayersWins">                    
                        <canvas baseChart
                          [data]="playersWins"
                          [labels]="players"
                          [chartType]="'pie'"
                          [options]="pieChartOptions"      
                          [legend]="true">
                        </canvas>  
                </div>
            </div>            
        </div>        
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Total Partidas Perdidas por los Jugadores</h5>
            </div>
            <div class="card-block text-center">
                <img *ngIf="loadingPlayersLose" src="../../../assets/images/loading_2.gif" class="img-responsive w-100" />
                <div class="chart" *ngIf="!loadingPlayersLose">                    
                        <canvas baseChart
                          [data]="playersLose"
                          [labels]="playersL"
                          [chartType]="'pie'"
                          [options]="pieChartOptions"      
                          [legend]="true">
                        </canvas>  
                </div>
            </div>            
        </div>        
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
              <h5>Partidas Ganadas y Perdidas de los Jugadores</h5>
            </div>
            <div class="card-block text-center">
                <img *ngIf="loadingPlayersLose" src="../../../assets/images/loading_2.gif" class="img-responsive w-100" />
                <div class="flex-item" *ngIf="!loadingPlayersLose">                    
                    <div style="display: block;">
                        <canvas baseChart width="600" height="320"
                            [datasets]="wins_losses"
                            [labels]="players"
                            [colors]="barChartColors"
                            [options]="barChartOptions"                               
                            [legend]="true"
                            [chartType]="'bar'">
                          </canvas>
                    </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Racha Histórica de los Jugadores</h5>
            </div>
            <div class="card-block text-center">
                <img *ngIf="loadingMatchsWins" src="../../../assets/images/loading_2.gif" class="img-responsive w-100" />
                <div class="flex" *ngIf="!loadingMatchsWins">
                    <div class="flex-item">
                      <div style="display: block;">
                      <canvas baseChart width="1200" height="1000"
                                  [datasets]="matchsWins"
                                  [labels]="matchs"
                                  [options]="winsChartOptions"
                                  [colors]="winsColors"
                                  [legend]="true"
                                  [chartType]="'line'"
                                  [plugins]="winsChartPlugins">
                      </canvas>
                      </div>
                    </div>    
                </div>
            </div>            
        </div>        
    </div>
</div>