<!--<div class="row">
    <div class="col-md-12 col-only">
        <div class="card select-card" style="padding: 10px;margin: 5px">
            <div class="row">
                <div class="col-md">
                  <input type="number" #IdFilter (change)="setfilterId(IdFilter.value)" placeholder="Filtrar por Id..." class="form-control"  >
                </div>
                <div class="col-md">
                  <input type="text" #NameFilter (change)="setfilterNameFilter(NameFilter.value)" placeholder="Filtrar por Nombre..." class="form-control" >
                </div>                 
                <div class="col-md">
                    <div class="input-group mb-3">
                        <input  class="form-control" #StartDate (dateTimeChange)="filterStart(StartDate)"  [owlDateTime]="dt_start" [owlDateTimeTrigger]="dt_start" placeholder="Desde...">                                
                        <div class="input-group-append">
                            <button class="btn btn-primary" style="padding: 5px;" [owlDateTimeTrigger]="dt_start" type="button"><i class="fas fa-calendar-alt" style="font-size: 18px;margin: 0;"></i></button>
                        </div>                      
                    </div>
                    <owl-date-time #dt_start></owl-date-time>
                </div>
                <div class="col-md">
                    <div class="input-group mb-3">
                        <input  class="form-control" #EndDate (dateTimeChange)="filterEnd(EndDate)"  [owlDateTime]="dt_end" [owlDateTimeTrigger]="dt_end" placeholder="Hasta...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" style="padding: 5px;" [owlDateTimeTrigger]="dt_end" type="button"><i class="fas fa-calendar-alt" style="font-size: 18px;margin: 0;"></i></button>
                        </div>                                
                    </div>
                    <owl-date-time #dt_end></owl-date-time>
                </div>
                <div class="col-md">
                  <button type="button" data-target="#new_item" data-toggle="modal" class="btn btn-primary"><i class="mdi mdi-trophy"></i>+ Crear Torneo</button>
                </div>              
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" style="margin-top: 5px;">
                        <table id="items_list" class="display table nowrap table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Foto</th>                                 
                                <th>Nombre</th>
                                <th>Tipo</th>                                                          
                                <th>Fecha de Creación</th>                                
                                <th>Estado</th>                                                       
                                <th>Operaciones</th>
                            </tr>
                            </thead>
                            <tbody>
                                    <tr  *ngFor="let item of items | paginate: { itemsPerPage: maxPerPage, currentPage: page, totalItems: total }" >                                          
                                            <td> {{item.id}}</td>
                                            <td> <img src='{{item.photo}}' class='rounded-circle' height=32px width=32px/></td>
                                            <td>{{item.name}}</td>
                                            <td>{{item.type}}</td>                                                                             
                                            <td><i class="mdi mdi-calendar-check"> </i> {{item.createdAtFormatted}}</td>          
                                            <td>{{item.status}}</td>                            
                                            <td style="width: 200px">
                                                <button type="button" style="margin-right: 5px;padding: 8px;text-align: left;" data-target="#edit_item" data-toggle="modal" (click)="select(item);" class="btn btn-warning"><i class="mdi mdi-account-edit"></i>Edit</button>
                                                <button *ngIf="item.status==0" type="button" style="margin-right: 5px;padding: 8px;width: 115px;text-align: left;" data-toggle="modal" data-target="#del_user"  (click)="changeStatus(item)" class="btn btn-danger"><i class="mdi mdi-account-off"></i>Desactivar</button>
                                                <button *ngIf="item.status==1" type="button" style="margin-right: 5px;padding: 8px;width: 115px;text-align: left;"   (click)="changeStatus(item)" class="btn btn-success"><i class="mdi mdi-account-check"></i>Activar</button>
                                            </td>                                         
                                    </tr>
                            </tbody>                            
                        </table>
                        <pagination-controls  (pageChange)="page = $event;getTable();"></pagination-controls>
                    </div>
                </div>
            </div>            
        </div>
    </div>
  </div>
  
  <div id="edit_item" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="card select-card">
                  <div class="card-header">                       
                      <h5 style="font-size: 24px;"><i class="mdi mdi-trophy"></i> Editar Torneo</h5>             
                  </div>
                  <div class="card-body">
                      <form [formGroup]="editForm" (ngSubmit)="editItem()">                                           
                          <div class="row"> 
                              <div class="col-md-6 text-center">                                
                                  <img src="../../../assets/images/default_logo.png" id="photoEdit" height="128px" width="128px" class="rounded-circle" alt="Torneo-Image">
                              </div>               
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <h5>Nombre del Torneo:</h5>                                
                                      <div class="input-group mb-3">
                                          <input  class="form-control"  formControlName="NameEdit">
                                      </div>  
                                  </div>
                              </div>                                                        
                          </div> 
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <h5>Foto:</h5>
                                      <div class="input-group mb-3">                                        
                                          <div class="custom-file">
                                              <input type="file" accept="image/*" formControlName="imageEdit" #imgEdit class="custom-file-input" (change)="getBase64Edit(imgEdit)" id="image_fileEdit"  name="validation-file">
                                              <label id="selectedAvatarEdit" class="custom-file-label" for="image_fileEdit">Seleccionar Avatar...</label>
                                          </div>
                                      </div>
                                      </div>
                               </div>
                          </div> 
                          <hr/>                           
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <h5>Tipo de Torneo:</h5>
                                      <div class="input-group mb-3">
                                          <ng-select class="form-control" formControlName="typeEdit" [ngClass]="{'is-invalid': editSubmitted && fet.typeEdit.errors}" placeholder="Seleccione el Tipo...">
                                            <ng-template ng-label-tmp let-item="item" let-label="label">
                                                <img src="../../../assets/images/tournaments/{{item}}.jpg" width="100px" height="50px" />
                                                {{label}}
                                            </ng-template>
                                              <ng-option value="0">Dota</ng-option>
                                              <ng-option value="1">Call Of Dutty</ng-option>
                                              <ng-option value="2">Star Craft</ng-option>
                                              <ng-option value="3">World of War Craft</ng-option>
                                          </ng-select>    
                                          <div *ngIf="editSubmitted && fet.typeEdit.errors" class="invalid-feedback">
                                              <div *ngIf="fet.typeEdit.errors.required">*El Tipo de Torneo es obligatorio.</div>
                                            </div>             
                                      </div>            
                                  </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Estado del Torneo:</h5>
                                    <div class="input-group mb-3">
                                        <ng-select class="form-control" formControlName="statusEdit" [ngClass]="{'is-invalid': newSubmitted && fnt.statusEdit.errors}" placeholder="Seleccione el Estado...">                                         
                                            <ng-option value="0">Activo</ng-option>
                                            <ng-option value="1">Pendiente</ng-option>
                                            <ng-option value="2">Desabilitado</ng-option>
                                            <ng-option value="3">Terminado</ng-option>
                                        </ng-select>    
                                        <div *ngIf="newSubmitted && fnt.statusEdit.errors" class="invalid-feedback">
                                            <div *ngIf="fnt.statusEdit.errors.required">*El Estado del Torneo es obligatorio.</div>
                                        </div>             
                                    </div>            
                                </div>
                            </div>
                          </div>                 
                      <hr/>
                      <div class="row">                                
                          <div class="col-md-12">
                              <button style="float: right"  type="button" class="btn btn-secondary" data-dismiss="modal"><i class="mdi mdi-cancel" style="font-size: 18px"></i>Cancelar</button>
                              <button style="margin-right:10px;float: right"  class="btn btn-primary"><i class="mdi mdi-trophy"  style="font-size: 18px"></i>Editar Torneo</button>
                          </div>
                      </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <div id="new_item" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="card select-card">
                  <div class="card-header">                       
                      <h5 style="font-size: 24px;"><i class="mdi mdi-trophy"></i> Nuevo Torneo</h5>             
                  </div>
                  <div class="card-body">
                      <form [formGroup]="newForm" (ngSubmit)="newItem()">                                   
                          <div class="row"> 
                              <div class="col-md-6 text-center">                                
                                  <img src="../../../assets/images/default_logo.png" id="photo" height="128px" width="128px" class="rounded-circle" alt="User-Profile-Image">
                              </div>                                                       
                              <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Nombre del Torneo:</h5>                                
                                    <div class="input-group mb-3">
                                        <input  class="form-control"  formControlName="NameNew">
                                    </div>  
                                </div>
                            </div>                                                        
                          </div> 
                          <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h5>Foto:</h5>
                                    <div class="input-group mb-3">                                        
                                        <div class="custom-file">
                                            <input type="file" accept="image/*" formControlName="imageNew" #imgNew class="custom-file-input" (change)="getBase64(imgNew)" id="image_fileNew"  name="validation-file">
                                            <label id="selectedAvatarNew" class="custom-file-label" for="image_fileNew">Seleccionar Avatar...</label>
                                        </div>
                                    </div>
                                    </div>
                             </div>
                        </div> 
                        <hr/>                           
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Tipo de Torneo:</h5>
                                    <div class="input-group mb-3">
                                        <ng-select class="w-100" formControlName="typeNew" [ngClass]="{'is-invalid': newSubmitted && fnt.typeNew.errors}" [searchable] = "false" placeholder="Seleccione el Tipo...">
                                          <ng-template ng-label-tmp let-item="item" let-label="label">
                                            <img src="../../../assets/images/tournaments/{{item}}.png" alt="Seleccione un tipo"   width="40px" style="margin-right: 10px;" /> - {{label}}  
                                          </ng-template>
                                            <ng-option value="0">Dota</ng-option>
                                            <ng-option value="1">Call Of Dutty</ng-option>
                                            <ng-option value="2">Star Craft</ng-option>
                                            <ng-option value="3">World of War Craft</ng-option>
                                        </ng-select>    
                                        <div *ngIf="newSubmitted && fnt.typeNew.errors" class="invalid-feedback">
                                            <div *ngIf="fnt.typeNew.errors.required">*El Tipo de Torneo es obligatorio.</div>
                                          </div>             
                                    </div>            
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Estado del Torneo:</h5>
                                    <div class="input-group mb-3">
                                        <ng-select class="w-100" formControlName="statusNew" [ngClass]="{'is-invalid': newSubmitted && fnt.statusNew.errors}" placeholder="Seleccione el Estado...">                                         
                                            <ng-option value="0">Activo</ng-option>
                                            <ng-option value="1">Pendiente</ng-option>
                                            <ng-option value="2">Desabilitado</ng-option>
                                            <ng-option value="3">Terminado</ng-option>
                                        </ng-select>    
                                        <div *ngIf="newSubmitted && fnt.statusNew.errors" class="invalid-feedback">
                                            <div *ngIf="fnt.statusNew.errors.required">*El Estado del Torneo es obligatorio.</div>
                                        </div>             
                                    </div>            
                                </div>
                            </div>
                        </div>
                        
                      <hr/>
                      <div class="row">                                
                          <div class="col-md-12">
                              <button style="float: right"  type="button" class="btn btn-secondary" data-dismiss="modal"><i class="mdi mdi-cancel" style="font-size: 18px"></i>Cancelar</button>
                              <button style="margin-right:10px;float: right"  class="btn btn-primary"><i class="mdi mdi-trophy"  style="font-size: 18px"></i>Crear Torneo</button>
                          </div>
                      </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
    
-->
   
  