@import './../../../assets/plugins/prism/css/prism.min.css';


.dropdown-item
{
    cursor: pointer
}

.dud-logout
{
    cursor: pointer
}

.forcedisplay
{
    display: block;
}

.inactive
{
    display: none;
}