<!-- [ navigation menu ] start -->
<nav [ngClass]="themeMenu">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
        <a  class="b-brand">
            <div class="b-bg">
                <i class="fab fa-jsfiddle"></i>              
            </div>
            <span class="b-title">Tienda Digital</span>
        </a>
        <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
      <div class="navbar-content scroll-div">
          <ul class="nav pcoded-inner-navbar">              
              <li class="nav-item" [ngClass]="{'active':selected==0}"><a routerLink="/dashboard" (click)="activeMenu(0)"  class=""><span class="pcoded-micon"><i class="fas fa-home"></i></span><span class="pcoded-mtext">{{ 'MENU.DASHBOARD.DASHBOARD' | translate }}</span></a></li>                      
              <li class="nav-item" *ngIf="userLogin.profile == 'Admin'" [ngClass]="{'active':selected==1}"><a routerLink="/users"  (click)="activeMenu(1)" class=""><span class="pcoded-micon"><i class="fas fa-users"></i></span><span class="pcoded-mtext">Usuarios</span></a></li>

              <li class="nav-item pcoded-hasmenu" [ngClass]="{'active pcoded-trigger':( selected==2 || selected==3 || selected==4 ) }"><a href="javascript:" class="nav-link"><span class="pcoded-micon"><i class="fab fa-steam-square"></i></span>
                <span class="pcoded-mtext">Dota 2</span></a>
                <ul class="pcoded-submenu">
                    <li class="" [ngClass]="{'active':selected==2}"><a routerLink="/dota2" (click)="activeMenu(2)" class=""><span class="pcoded-micon"><i class="fas fa-trophy"></i></span> Sala Principal</a></li> 
                    <li class="" [ngClass]="{'active':selected==4}"><a routerLink="/match" (click)="activeMenu(4)" class=""><span class="pcoded-micon"><i class="fas fa-gamepad"></i></span> Partidas</a></li>
                    <li class="" *ngIf="userLogin.profile == 'Admin'" [ngClass]="{'active':selected==3}"><a routerLink="/heroes" (click)="activeMenu(3)" class=""><span class="pcoded-micon"><i class="fas fa-user-ninja"></i></span> Héroes</a></li> 
                </ul>
              </li>
              <li class="nav-item pcoded-hasmenu" [ngClass]="{'active pcoded-trigger': (selected==5 || selected==6)}"><a href="javascript:" class="nav-link"><span class="pcoded-micon"><i class="feather icon-settings"></i></span>
                <span class="pcoded-mtext">{{ 'MENU.OPTIONS.OPTIONS' | translate }}</span></a>
                <ul class="pcoded-submenu">
                    <li class="" [ngClass]="{'active':selected==5}"><a routerLink="/settings" (click)="activeMenu(5)" class=""><span class="pcoded-micon"><i class="fas fa-cogs"></i></span> {{ 'MENU.OPTIONS.SETTINGS' | translate }}</a></li>  
                    <li class="" [ngClass]="{'active':selected==6}"><a routerLink="/logs" (click)="activeMenu(6)" class=""><span class="pcoded-micon"><i class="fas fa-file-archive"></i></span> Logs</a></li>
                </ul>
              </li>
                          
              
          </ul>
      </div>
  </div>
</nav>
<!-- [ navigation menu ] end -->

<!-- [ Header ] start -->
<header [ngClass]="themeHeader">
  <div class="m-header">
      <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
      <a routerLink="/dashboard" class="b-brand">
         <div class="b-bg">
             <i class="feather icon-trending-up"></i>
         </div>
         <span class="b-title">{{ 'TITLE' | translate }}</span>
     </a>
  </div>
  <a class="mobile-menu" id="mobile-header" href="javascript:">
      <i class="feather icon-more-horizontal"></i>
  </a>
  <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
          <li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>               
          <li class="nav-item drp-user">
                <a style="font-size: 20px"><i class="feather icon-hash"></i>{{path}}</a>            
          </li>
      </ul>   
      <ul class="navbar-nav ml-auto">         
        <li>
            <div class="dropdown">
                <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown" aria-expanded="false"><i class="feather icon-download"></i>{{downloadList.length}}</a>
                <div class="dropdown-menu dropdown-menu-right notification" style="width: 450px!important;">
                    <div class="noti-head">
                        <h6 class="d-inline-block m-b-0">Descargas</h6>                        
                    </div>
                    <ul class="noti-body">                        
                        <li *ngFor="let download of downloadList" class="notification" style="width: 450px!important;">
                            <div class="media">
                                <i class="feather icon-download"></i>
                                <div class="media-body" *ngIf="download.status == status.InProgress">
                                    <p><strong> {{download.fileName}} </strong><span class="n-time text-muted"> <p *ngIf="download.totalBytes!=null">{{download.bytesDownloaded}}kb/{{download.totalBytes}}kb</p></span></p>
                                    <progress-bar  [progress]="download.percent" [color]="'#488aff'"></progress-bar>
                                </div>
                                <div class="media-body" *ngIf="download.status == status.Error">
                                    <p><strong>Error: {{download.fileName}} </strong><span class="n-time text-muted"> <p *ngIf="download.totalBytes!=null">{{download.bytesDownloaded}}kb/{{download.totalBytes}}kb</p></span></p>
                                    <progress-bar  [progress]="download.percent" [color]="'#C03221'"></progress-bar>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="noti-footer">
                        <a href="javascript:">Ver Todas</a>
                    </div>
                </div>
            </div>
         </li>              
          <li>            
              <div class="dropdown drp-user">
                  <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                        {{userLogin.username}}
                      <i  class="icon feather icon-settings"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right profile-notification" style="min-width: 330pximportant;">
                      <div class="pro-head">    
                          <span style="vertical-align: middle;"> <i class="fas fa-user-circle" *ngIf="userLogin.avatar==''" style="vertical-align: middle;font-size: 29px"> </i> <img *ngIf="userLogin.avatar!=''" src="{{userLogin.avatar}}" style="height: 64px;width: 64px;" id="user_photo" class="rounded-circle" alt="User-Profile-Image"> {{userLogin.firstName+' '+userLogin.lastName}}</span>
                          <a (click) = "LogOut()" class="dud-logout" title="Logout">
                              <i class="feather icon-log-out"></i>
                          </a>
                      </div>
                      <ul class="pro-body">
                          <li><a  class="dropdown-item" data-target="#edit_profile" data-toggle="modal"><i class="feather icon-user"></i> {{ 'MENU.PROFILE' | translate }}</a></li>                          
                          <li><a (click) = "LogOut()" class="dropdown-item"><i class="feather icon-lock"></i> {{ 'MENU.LOGOUT' | translate }}</a></li>
                      </ul>
                  </div>
              </div>
          </li>
      </ul>
  </div>
</header>
<!-- [ Header ] end -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">                
                <div class="main-body">
                    <div class="page-wrapper" style="padding-top: 15px">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="header-user-list">
    <div class="h-list-header">
    </div>
    <div class="h-list-body">
        <a href="javascript:" class="h-close-text"><i class="feather icon-chevrons-right"></i></a>
        <div class="main-friend-cont scroll-div">
            <div class="main-friend-list">
            </div>
        </div>
    </div>
</section>

<section class="header-chat">
    <div class="h-list-header">
    </div>
    <div class="h-list-body">
        <div class="main-chat-cont scroll-div">
        </div>
    </div>
</section>


<div id="edit_profile" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="card select-card">
                <div class="card-header">                       
                    <h5 style="font-size: 24px;"><i class="mdi mdi-account-circle"></i> Editar Perfil</h5>             
                </div>
                <div class="card-body">
                    <form [formGroup]="editProfileForm" (ngSubmit)="ProfileUser()">  
                        <input id="usernameProfile" style="display:none" type="text" name="usernameProfile">
                        <input id="passwordProfile" style="display:none" type="password" name="passwordProfile">                        
                        <div class="row"> 
                            <div class="col-md-6 text-center">                                
                                <img src="{{userLogin.avatar}}" id="photoProfile" height="128px" width="128px" class="rounded-circle" alt="User-Profile-Image">
                            </div>               
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Nombre de la Cuenta:</h5>                                
                                    <div class="input-group mb-3">
                                        <input  class="form-control" autocomplete="off" disabled formControlName="userNameEditProfile">
                                    </div>  
                                </div>
                            </div> 
                                                     
                        </div> 
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h5>Avatar:</h5>
                                    <div class="input-group mb-3">                                        
                                        <div class="custom-file">
                                            <input type="file" accept="image/*" #imgProfile  class="custom-file-input" (change)="getBase64(imgProfile)" id="image_fileProfile"  name="validation-file">
                                            <label id="selectedAvatarProfile" class="custom-file-label" for="image_fileProfile">Seleccionar Avatar</label>
                                        </div>
                                    </div>
                                    </div>
                             </div>
                        </div> 
                        <hr/>
                        <div class="row">                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Nombre:</h5>
                                    <div class="input-group mb-3">
                                        <input  class="form-control" autocomplete="off" formControlName="userFirstNameProfile"  [ngClass]="{'is-invalid': ProfileUserSubmitted && feu.userFirstNameProfile.errors}"  placeholder="Escriba su Nombre...">
                                        <div *ngIf="ProfileUserSubmitted && feu.userFirstNameProfile.errors" class="invalid-feedback">
                                          <div *ngIf="feu.userFirstNameProfile.errors.required">*El Nombre es Obligatorio.</div>
                                        </div>                 
                                    </div>            
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <h5>Apellidos:</h5>
                                  <div class="input-group mb-3">
                                      <input  class="form-control" autocomplete="off" formControlName="lastNameProfile"  [ngClass]="{'is-invalid': ProfileUserSubmitted && feu.lastNameProfile.errors}" placeholder="Escriba sus Apellidos...">
                                      <div *ngIf="ProfileUserSubmitted && feu.lastNameProfile.errors" class="invalid-feedback">
                                        <div *ngIf="feu.lastNameProfile.errors.required">*Los Apellidos son Obligatorios.</div>
                                      </div>                 
                                  </div>            
                              </div>
                          </div>
                        </div>      
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h5>Vieja Contraseña:</h5>
                                    <div class="input-group mb-3">
                                        <input  autocomplete="off" formControlName="passwordOldProfile" class="form-control" type="password"  [ngClass]="{'is-invalid': ProfileUserSubmitted && feu.passwordOldProfile.errors}" placeholder="Escriba una Contraseña..." />                                                                              
                                        <div *ngIf="ProfileUserSubmitted && feu.passwordOldProfile.errors" class="invalid-feedback">
                                          <div *ngIf="feu.passwordOldProfile.errors.required">*Necesita escribir su contraseña para aplicar los cambios.</div>
                                        </div>                 
                                    </div>            
                                </div>
                            </div>
                        </div>
                        <div class="row">                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Cambiar Contraseña:</h5>
                                    <div class="input-group mb-3">
                                        <input  autocomplete="off" formControlName="passwordProfile" class="form-control" type="password"  [ngClass]="{'is-invalid': ProfileUserSubmitted && feu.passwordProfile.errors}" placeholder="Escriba una Contraseña..." />                                                                              
                                        <div *ngIf="ProfileUserSubmitted && feu.passwordProfile.errors" class="invalid-feedback">
                                          <div *ngIf="feu.passwordProfile.errors.required">*La Contraseña es Obligatoria.</div>
                                        </div>                 
                                    </div>            
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <h5>Repita la Contraseña:</h5>
                                  <div class="input-group mb-3">
                                    <input  autocomplete="off" formControlName="passwordRepeatProfile" class="form-control" type="password" [ngClass]="{'is-invalid': ProfileUserSubmitted && feu.passwordRepeatProfile.errors}" placeholder="Repita la Contraseña..." />
                                      <div *ngIf="ProfileUserSubmitted && feu.passwordRepeatProfile.errors" class="invalid-feedback">
                                        <div *ngIf="feu.passwordRepeatProfile.errors.required">*Necesita Repetir la Contraseña.</div>
                                      </div>                 
                                  </div>            
                              </div>
                          </div>
                        </div>                         
                    <hr/>
                    <div class="row">                                
                        <div class="col-md-12">
                            <button style="float: right"  type="button" class="btn btn-secondary" data-dismiss="modal"><i class="mdi mdi-cancel" style="font-size: 18px"></i>Cancelar</button>
                            <button style="margin-right:10px;float: right"  class="btn btn-primary"><i class="mdi mdi-account-edit"  style="font-size: 18px"></i>Actualizar Perfil</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>