.card .card-header{
    padding: 10px 25px;
}
.card {
    margin-bottom: 15px!important;
}
.theme-bg4 {
    background: linear-gradient(-135deg, #29b1ff 0%, #507ccc 100%);
}

.theme-bg5 {
    background: linear-gradient(-135deg, #ff2929 0%, #cc5050 100%);
}

.theme-bg6 {            
    display: inline-block;
    margin: 5px!important;
}

.theme-bg7{
    background: linear-gradient(-135deg, #29b1ff 0%, #507ccc 100%);
}

.theme-bg7:hover{
    background: linear-gradient(-135deg, #25a1e9 0%, #466db4 100%);
}

.border-red{
    border-color: #ff2929;
    border-style: solid;
    border-width: 2px;
}

#listOut > tbody > tr > td {
    padding: 5px!important;
    vertical-align: middle!important;
}

#listIn > tbody > tr > td {
    padding: 5px!important;
    vertical-align: middle!important;
}

.card-block
{
    padding: 15px!important;
}

.btn-custom
{
    background-color: #e1e6eb;
}

.btn-custom:hover
{
    background-color: #c7d0d8;
}

.scroll-h{
    overflow-x: auto;
    white-space: nowrap;
}



