/* You can add global styles to this file, and also import other style files */
@import url("assets/fonts/fontawesome/css/fontawesome-all.min.css");
@import url("assets/plugins/animation/css/animate.min.css");
@import url("assets/css/style.css");
@import url("assets/plugins/pnotify/css/pnotify.custom.min.css");
@import url("assets/css/pages/pnotify.css");
@import url("assets/fonts/material/css/materialdesignicons.min.css");
@import url("assets/plugins/multi-select/css/multi-select.css");
@import url("assets/fonts/flag/css/flag-icon.min.css");

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-icons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css";



.btn
{
    padding: 10px!important;
}

#mobile-collapse1
{
    z-index: 9999;
}

.pcoded-main-container
{
    min-height: 500px!important;
}

.header-custom-txt
{
    padding: 18px;
    color: white
}

div > div > div > div.card-header > div > div > h4 > i
{
    color: white;
    float: right;
}

.card-header:first-child
{
        border-radius:0!important;
}

.tittle-success
{
    background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
}
.tittle-danger
{
    background: linear-gradient(90deg, rgb(76, 15, 15) 21%, rgb(215, 29, 29) 86%, rgb(255, 0, 24) 100%);
}
.hidde
{
    display: none;   
}

.ng-select.ng-select-single .ng-select-container
{    
    height: 43px!important;
}

.invalid-feedback
{
    text-align: left!important;
    margin-left: 5px;
}

.cdk-overlay-container
{
    z-index: 9997!important;
}
.owl-dt-timer-content
{
    z-index: 9998!important;
}
.owl-dt-timer-input
{
    z-index: 9999!important;
}

.ms-elem-selectable:before {
    font-family: Font Awesome\ 5 Free;
    content: '\f017 -';
}
.ms-selected:before {
    font-family: Font Awesome\ 5 Free;
    content: '\f017 -';
}


@media screen and (max-width: 767px) 
{
    .command-buttons
    {
        margin: 5px 5px 5px 0;
    }
}

  @media screen and (min-width: 768px) 
  {
    .command-buttons
    {
      float: right;
      margin-top: 41px;
    }
  }
