@import '../../../assets/css/pages/gallery.css';

#item_list > tbody > tr > td {
    padding: 5px!important;
    vertical-align: middle!important;
}

.bg-dire{
    background: rgba(121,9,41,1);
    position:relative;
    margin-top: 5px;
}

.bg-radiant{
    background: rgba(9,121,44,1);
    position:relative;
    margin-top: 5px;
}
.bg-radiant video{
    position:relative;
    z-index:0;
}
.bg-dire video{
    position:relative;
    z-index:0;
}
.overline{
    position:absolute;
    top:90px;
    left:75px;
    z-index:1;
}

.stats-level{
    position:absolute;
    top:22px;
    left:70px;
    z-index:1;
}

.stats-score{
    position:absolute;
    top:100px;
    left:5px;
    z-index:1;
    font-size: 12px;
}

.live-status{
    height: 25px;
    width: 25px;
    position: absolute;        
    border-radius: 100%;
    color: #000;
    padding: 2px 0;
    text-align: center;
    background: linear-gradient(-135deg, hsl(59, 82%, 51%) 0%, #e9db1d 100%);
}

figure {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

figure.effect-lexi {
    background: linear-gradient(-45deg, #000 0%, #fff 100%);
}

figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    color: #fff;
    margin: 0;
}

figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}



.modal-lgxl{
    width: 1350px;
    max-width: 90%;
}


.table-active{
    background-color: rgba(0,0,0,0.005)!important;
}
.table-success{
    background-color: rgba(177,223,177,0.005)!important;
}
.table-danger{
    background-color: rgba(223,177,177,0.005)!important;
}
.table-primary{
    background-color: rgba(177,177,223,0.005)!important;
}


.fs-10{
    font-size: 10px;
}
.fs-20{
    font-size: 20px;
}



.ng-select.customSelect ::ng-deep .ng-select-container  {            
    height: 43px;  
  }


  .invalid-feedback{
      display: block!important;
  }

 